
@font-face { 
    font-family: 'MyCustomFont'; 
    src: url('fonts/mycustomfont.woff2') format('woff2'), 
         url('fonts/mycustomfont.woff') format('woff'); 
         font-weight: normal; 
         font-style: normal; } 
         
body, html{ 
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: 'MyCustomFont', 
}

.background-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: background-image 10s ease-in-out;
}